:root {
  //   --color-primary-light: #ff3366;
  //   --color-primary-dark: #ba265d;

  --grey-light1: #faf9f9;
  --grey-light2: #f4f2f2;
  --grey-light3: #f0eeee;
  --grey-light4: #ccc;

  --grey-dark: #333;
  --grey-dark2: #777;
  --grey-dark3: #999;

  --white: #fff;

  --header-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
$color-primary: #ffc815;

$color-background: #001226;

body {
  background: $color-primary;
  height: 100vh;
  padding: 1rem;
}
