.btn-primary {
  border-radius: 1.6rem;
  margin: 1rem;
  width: 8rem;
  height: 3rem;
  background-color: $primary;
  border: 1px solid $secondary;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-secondary {
  border-radius: 1.6rem;
  width: 8rem;
  height: 3rem;
  border: 1px solid $secondary;
  background-color: $primary;
  color: $secondary;
  &:hover {
    background-color: $primary;
    color: $white;
    border: 1px solid $white;
  }
}
