.btn-primary {
  border-radius: 1.6rem;
  margin: 1rem;
  width: 8rem;
  height: 3rem;
  border: 1px solid $secondary;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}
