.carousel {
  margin: 2rem;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  box-shadow: 0px 1px #585858;
  z-index: 1;
  background: $primary;
  height: 10vh;
  border-bottom: 1px solid $secondary;
}

.card {
  padding: 0;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.heading-1 {
  background: linear-gradient(59deg, rgb(255, 28, 114) 0%, rgb(226, 2, 87) 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  padding: 2rem 0;
}

.user-score {
  padding: 1rem 0 !important;
}
