.carousel {
  margin: 2rem;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  box-shadow: 0px 1px #585858;
  z-index: 1;
  background: $primary;
  height: 9vh;
  border-bottom: 1px solid $secondary;
}

.card {
  padding: 0;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.col-md-8,
.col-md-4,
.col-md-9,
.col-md-3,
.col-sm-2,
.col-sm-4 {
  padding: 0;
}
