@font-face {
  font-family: "Oswald-Medium";
  src: url(file:///Users/lukas/Documents/GitHub/vue-project/src/assets/fonts/Oswald/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(file:///Users/lukas/Documents/GitHub/vue-project/src/assets/fonts/Oswald/Oswald-Regular.ttf);
}
