.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}
.mobile-margin-bottom {
  margin-bottom: 1rem;
}
