.title {
  font-size: 1.6rem;
  padding: 0;
}
.nav-link-wrapper {
  display: flex;
}

.header-log:hover {
  color: $white;
}

.navigation {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  z-index: 400;
  font-family: inherit;
  height: 6rem;
  padding: 0 2rem 0 2rem;

  &__checkbox {
    display: none;
  }

  &__logo {
    margin: 1.3rem;
    justify-items: start;

    @media only screen and (min-width: 375px) {
      margin: 2rem;
      width: 8rem;
      height: 8rem;
    }

    @media only screen and (min-width: 1200px) {
      margin: 1.3rem;
      width: 5.6rem;
      height: 5.6rem;
    }
  }

  &__button {
    display: flex;
    height: 6rem;
    justify-content: flex-end;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    justify-items: center;
    align-items: center;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
    background-color: black;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    color: $white;
    display: grid;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem 2.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1rem;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $white 50%
    );
    background-size: 250%;
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $black;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__toggle {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      height: 2.5px;
      background-color: $white;
      display: inline-block;
      width: 2.5rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $white;
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $white;
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

    @media only screen and (min-width: 375px) {
      margin-bottom: 30%;
    }
    @media only screen and (min-width: 1200px) {
      margin-bottom: 8rem;
    }
  }
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
